:root {
    --blau: #0081A7;
    --vermell: #EF233C;
    --clar: #FAFAFA;
    --fosc: #181818;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--clar);
    font-family: Arial, sans-serif;
    color: var(--fosc);
}

header {
    background: var(--fosc);
    padding: 15px;
    text-align: center;
    position: relative;
}

header img {
    height: 50px;
    margin-bottom: 10px;
}

#menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

header nav a {
    display: none;
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    color: var(--vermell);
}

main h1 {
    text-align: center;
    margin: 30px 0 10px;
    color: var(--blau);
}

main h2 {
    text-align: center;
    margin: 25px 0 5px;
    color: var(--fosc);
}

.slider {
    width: 100%;
    max-width: 100%;
    height: 260px;
    overflow: hidden;
    margin-bottom: 20px;
}

.slides {
    height: 100%;
    width: 100%;
}

.slides img {
    width: 100%;
    height: 100%;
    display: inline-block;
}


.sectionfest {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    display: inline-block;
    background: white;
    border: 2px solid var(--blau);
    border-radius: 10px;
    width: 90%;
    max-width: 320px;
    margin: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 170px;
}

.card h3 {
    margin: 10px 0;
}

.card button {
    margin-bottom: 15px;
    padding: 8px 16px;
    background: var(--blau);
    color: white;
    border: none;
    border-radius: 6px;
}

.card button:hover {
    background: var(--vermell);
}


aside {
    display: none;
    background-color: var(--fosc);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px 0;
}

aside.actiu {
    display: block;
}

aside nav a {
    display: block;
    margin: 15px 0;
    text-align: center;
    text-decoration: none;
    color: var(--clar);
}

aside nav a:hover {
    color: var(--vermell);
}



footer {
    background: var(--fosc);
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    display: none;
}


@media (min-width: 700px) {

    #menu-btn {
        display: none;
    }

    header nav a {
        display: inline;
    }

    aside {
        display: none;
    }

    footer a {
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;
        color: white;
    }

    footer a:hover {
        color: var(--vermell);
    }
}
