<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Festivals</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<header>
    <img src="../assets/img/logo.png" alt="Logo">
    <nav>
        <a href="./formularisessió.html">Iniciar Sessió</a>
        <a href="./compte.html">Compte</a>
    </nav>
</header>

<main>
    <h1>Festivals destacats</h1>

    <section class="sectionfest">
        <div class="card">
            <img src="../assets/img/tomorrowland.jpg" alt="Tomorrowland">
            <h3>Tomorrowland</h3>
        </div>

        <div class="card">
            <img src="../assets/img/oktoberfest.jpg" alt="Oktoberfest">
            <h3>Oktoberfest</h3>
        </div>

        <div class="card">
            <img src="../assets/img/resurrectionfest.jpg" alt="Resurrection Fest">
            <h3>Resurrection Fest</h3>
        </div>
    </section>
     <section class="sectionfest">
        <div class="card">
            <img src="../assets/img/tomorrowland.jpg" alt="Tomorrowland">
            <h3>Tomorrowland</h3>
        </div>

        <div class="card">
            <img src="../assets/img/oktoberfest.jpg" alt="Oktoberfest">
            <h3>Oktoberfest</h3>
        </div>

        <div class="card">
            <img src="../assets/img/resurrectionfest.jpg" alt="Resurrection Fest">
            <h3>Resurrection Fest</h3>
        </div>
    </section>
     <section class="sectionfest">
        <div class="card">
            <img src="../assets/img/tomorrowland.jpg" alt="Tomorrowland">
            <h3>Tomorrowland</h3>
        </div>

        <div class="card">
            <img src="../assets/img/oktoberfest.jpg" alt="Oktoberfest">
            <h3>Oktoberfest</h3>
        </div>

        <div class="card">
            <img src="../assets/img/resurrectionfest.jpg" alt="Resurrection Fest">
            <h3>Resurrection Fest</h3>
        </div>
    </section>
     <section class="sectionfest">
        <div class="card">
            <img src="../assets/img/tomorrowland.jpg" alt="Tomorrowland">
            <h3>Tomorrowland</h3>
        </div>

        <div class="card">
            <img src="../assets/img/oktoberfest.jpg" alt="Oktoberfest">
            <h3>Oktoberfest</h3>
        </div>

        <div class="card">
            <img src="../assets/img/resurrectionfest.jpg" alt="Resurrection Fest">
            <h3>Resurrection Fest</h3>
        </div>
    </section>
     <section class="sectionfest">
        <div class="card">
            <img src="../assets/img/tomorrowland.jpg" alt="Tomorrowland">
            <h3>Tomorrowland</h3>
        </div>

        <div class="card">
            <img src="../assets/img/oktoberfest.jpg" alt="Oktoberfest">
            <h3>Oktoberfest</h3>
        </div>

        <div class="card">
            <img src="../assets/img/resurrectionfest.jpg" alt="Resurrection Fest">
            <h3>Resurrection Fest</h3>
        </div>
    </section>
    <aside>
        <nav>
            <a href="./formularisessió.html">Iniciar Sessió</a>
            <a href="./compte.html">Compte</a>
            <a href="">Sobre Nosaltres</a>
            <a href="">Informació legal</a>
            <a href="">Política de Privacitat</a>
            <a href="">Termes de devolució</a>
        </nav>
    </aside>
</main>

<footer>
    <p>&copy; 2025 Festivals — JJ'Sound Fest</p>
    <a href="">Sobre Nosaltres</a>
    <a href="">Informació legal</a>
    <a href="">Política de Privacitat</a>
    <a href="">Termes de devolució</a>
</footer>

</body>
</html>
