*{
  margin:0;
  padding:0;
  text-align: center;
}

body{
  margin: 20px;
  padding: 20px;
  width:90%;
  min-height: 600px;
  border: 3px solid gray;
}

body img{
  height: 100px;
}


body form *{
  padding-bottom:8px ;
}


header{
  background-color: #d3d0cb;
}

header h1{
  background-color: #227c9d;
  padding: 30px 15px 30px 15px;
  margin:20px;
  border: 5px dotted #ffcb77;
  color:#d3d0cb;
}

header nav{
  background-color: #d3d0cb;
  color:#1e2019;
}

header nav a{
  color:#1e2019;
  text-decoration: none;
  padding-left: 10px;
}

header nav a:hover{
  color:black ;
  text-decoration: underline;
  font-weight: bold;
}
header nav a:visited{
  color:#1e2019;
  text-decoration: none;
}

body{
  background-color: #1e2019;
}

body p{
  color: #efede9;
}

body h1{
  color: #efede9;
}

body h3{
  color: #efede9;
}

body textarea{
  margin-bottom: 20px;
  border:solid 1px #E2C044;
}

.red{
  margin: 10px;
}

footer{
  margin-top: 30px;
  padding:20px;
  background-color: #333;
  color: white;
  border-top: 5px solid #224c9d;
}

footer a{
  color:white ;
}

footer a :visited{
  color:white;
}

form input[type=submit]{
  background-color: #E2C044;
}

form div a{
 color:white ;
}